/* ! helps 
 * colors
 ? - light-primary = #fafaff
 ? - dark-primary = #181818

 ? - dark-secondary = #111

 ? - light-10 = #ffffff10
 ? - shadow-10 = #00000010
*/

/* *reset */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    font-family: 'Open Sans', sans-serif;
    color: #181818;
}
html {
    font-size: 0.625rem;
}
body {
    background-color: #f0f0f0;
}

header {
    z-index: 9999;
    min-width: 100%;
    min-height: 100vh;

    position: fixed;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    background: none;
    border: none;
}

/* *helpers */
.ic {
    width: 2rem;
    height: 2rem;

    margin: 0 1rem;
}
/* *styles */
/* navmenu */
.navmenu-container {
    min-width: 25rem;
    min-height: 100%;
    
    background: #ccccccf0;

    position: absolute;
    right: -25rem;

    font-size: 2rem;

    transition: right .3s ease-in-out;
}
.navmenu-container.active {
    right: 0;
}
.navmenu-list {
    padding: 1rem;
}

.navmenu-item-list {
    padding: .5rem;
}

.navmenu-item-list > a {
    display: flex;
    align-items: center;
    
    padding: 1rem;
    width: 100%;
    
    color: #181818;
    
}
.navmenu-item-list.active a {
    color: #618d1b;
    font-size: 2.2rem;
}
.navmenu-item-list.active a img{
    filter: invert(27%) sepia(51%) saturate(2000%) hue-rotate(60deg) brightness(120%);
}
.btn-navmenu {
    padding: 1rem 1.5rem;
    
    position: absolute;
    bottom: 9rem;
    right: 1rem;
    
    font-size: 4rem;
    font-weight: 700;
    
    transition: transform .3s;
}
.btn-navmenu::before {
    display: block;
    content: "<";

    min-width: 100%;
    min-height: 100%;

    position: absolute;
    left: 0;
    
    color: #7aaa2b;
    clip-path: polygon(41% 0, 100% 0, 100% 100%, 86% 100%);
}
.btn-navmenu.active {
    transform: rotate(-180deg);
}
/* [media] nav sm */
@media screen and (min-width: 576px) {
    .ic {
        display: none;
    }
    .navmenu-container {
        display: flex;
        justify-content: center;
        align-items: center;
        
        min-width: 100%;
        min-height: 5rem;

        background: transparent;
        
        font-size: 1.4rem;
        font-weight: 700;
        
        transform: translateX(-25rem);
        transition: none;
    }
    .navmenu-list {
        display: flex;
        padding: 0; 
    }
    .navmenu-item-list {
        padding: .5rem 1rem;
    }
    .navmenu-item-list.active a {
        color: #618d1b;
        font-size: 1.5rem;
    }
    .navmenu-item-list > a {
        padding: .5rem;
        color: #181818;
    }
    .btn-navmenu {
        display: none;
    }
}

/* home container */
.home-container {
    min-height: 100vh;
    
    overflow-x: hidden;
    position: relative;
}
.brand-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}
.brand-block {
    flex-basis: 0;
    position: relative;
}
.brand-block h2 {
    position: absolute;
    top: 0;

    font-size: 12rem;
    letter-spacing: 1rem;
}

.brand-block h2:nth-child(1) {
    position: relative;
}
.brand-block h2:nth-child(2) {
    color: #618d1b;
    clip-path: polygon(0% 48%, 15% 38%, 34% 35%, 49% 39%, 59% 45%, 74% 49%, 87% 50%, 100% 46%, 100% 100%, 0% 100%);

    animation: 2.2s ease-in-out infinite alternate brand-anim-h2-c1;
}
.brand-block h2:nth-child(3) {
    color: #7aaa2b;
    clip-path: polygon(0 58%, 11% 64%, 28% 67%, 44% 65%, 59% 55%, 73% 50%, 89% 52%, 100% 58%, 100% 100%, 0% 100%);
    
    animation: 2.2s ease-in-out infinite alternate brand-anim-h2-c2;
}
/* [media] home sm */
@media screen and (min-width: 768px) {
    .brand-container {
        flex-direction: row;
    }
}
@keyframes brand-anim-h2-c1 {
    to {
        clip-path: polygon(0 48%, 14% 55%, 31% 55%, 45% 52%, 57% 45%, 72% 40%, 88% 41%, 100% 48%, 100% 100%, 0% 100%);
    }
}
@keyframes brand-anim-h2-c2 {
    to {
        clip-path: polygon(0 58%, 14% 52%, 30% 51%, 46% 55%, 60% 61%, 77% 63%, 90% 56%, 100% 48%, 100% 100%, 0% 100%);
    }
}
