/* ! helps 
 * colors
 ? - light-primary = #fafaff
 ? - dark-primary = #181818

 ? - dark-secondary = #111

 ? - light-10 = #ffffff10
 ? - shadow-10 = #00000010
*/

/* *reset */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    font-family: 'Open Sans', sans-serif;
    color: #181818;
}
html {
    font-size: 0.625rem;
}
body {
    background-color: #f0f0f0;
}

header {
    z-index: 9999;
    min-width: 100%;
    min-height: 100vh;

    position: fixed;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    background: none;
    border: none;
}

/* *helpers */
.ic {
    width: 2rem;
    height: 2rem;

    margin: 0 1rem;
}
/* *styles */
/* navmenu */
.navmenu-container {
    min-width: 60%;
    min-height: 100%;
    
    background: #00000010;

    position: absolute;
    right: -60%;

    font-size: 2rem;

    transition: right .3s ease-in-out;
}
.navmenu-container.active {
    right: 0;
}
.navmenu-list {
    padding: 1rem;
}

.navmenu-item-list {
    padding: .5rem;
}

.navmenu-item-list > a {
    display: flex;
    align-items: center;
    
    padding: 1rem;
    width: 100%;
    
    color: #181818;
    
}
.navmenu-item-list.active a {
    color: #618d1b;
    font-size: 2.2rem;
}
.navmenu-item-list.active a img{
    filter: invert(27%) sepia(51%) saturate(2000%) hue-rotate(60deg) brightness(120%);
}
.btn-navmenu {
    padding: 1rem 1.5rem;
    
    position: absolute;
    bottom: 6rem;
    right: 2rem;
    
    font-size: 4rem;
    font-weight: 700;
    
    transition: transform .3s;
}
.btn-navmenu.active {
    transform: rotate(-180deg);
}
/* [media] nav md */
@media screen and (min-width: 768px) {
    .ic {
        display: none;
    }
    .navmenu-container {
        display: flex;
        justify-content: center;
        align-items: center;
        
        min-width: 100%;
        min-height: 5rem;

        background: transparent;
        
        font-size: 1.4rem;
        font-weight: 700;
        
        transform: translateX(-60%);
        transition: none;
    }
    .navmenu-list {
        display: flex;
        padding: 0; 
    }
    .navmenu-item-list {
        padding: .5rem 1rem;
    }
    .navmenu-item-list.active a {
        color: #618d1b;
        font-size: 1.5rem;
    }
    .navmenu-item-list > a {
        padding: .5rem;
        color: #181818;
    }
    .btn-navmenu {
        display: none;
    }
}